{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'chat/image/logo-blue.png' %}" type="image/png">
    {% block head %}
    {% endblock %}
</head>
<body>

<div class="full-page">
    <div class="users-chats">
        <div class="users-chats-search">
            <div class="users-chats-search-container-input">
                <div style="padding: 0 5px 0 5px; width: 90%;">
                    <input id="users-chats-search-input" placeholder="Search more users..." type="text" size="100">
                </div>
                <div style="margin-left: auto;">
                    <button id="users-chats-search-submit"><img class="users-chats-search-button" src="{% static 'chat/svg/send.svg' %}"></button>
                </div>
            </div>
            <div class="users-chats-search-add-group">
                <a class="users-chats-search-add-a" title="Create Group" href="{% url 'create_group' %}">
                    <img class='users-chats-search-add-img' src="{% static 'chat/svg/add.svg' %}">
                </a>
            </div>
        </div>
        <div class="users-chats-list">
            {% for chat in chats %}
            {% if chat.chat.pk == room_name %}
                {% if chat.type == 'chat' %}
                    {% if chat.type == type_page %}
                    <a href="/chat/{{chat.chat.pk}}"><div class="users-chats-list-user-selected">
                    {% else %}
                    <a href="/chat/{{chat.chat.pk}}"><div id="chat-{{chat.chat.pk}}" class="users-chats-list-user">
                    {% endif %}
                {% else %}
                {% if chat.type == type_page %}
                    <a href="/group/{{chat.chat.pk}}"><div class="users-chats-list-user-selected">
                {% else %}
                    <a href="/group/{{chat.chat.pk}}"><div id="group-{{chat.chat.pk}}" class="users-chats-list-user">
                {% endif %}
                {% endif %}

            {% else %}

                {% if chat.type == 'chat' %}
                    <a href="/chat/{{chat.chat.pk}}"><div id="chat-{{chat.chat.pk}}" class="users-chats-list-user">
                {% else %}
                    <a href="/group/{{chat.chat.pk}}"><div id="group-{{chat.chat.pk}}" class="users-chats-list-user">
                {% endif %}
            
                {% if chat.count_read > 0 and chat.count_read < 100 %}
                    <div class="user-chats-list-notread">{{chat.count_read}}</div>
                {% elif chat.count_read >= 100 %}
                    <div class="user-chats-list-notread">99</div>
                {% endif %}
            {% endif %}
            <div id='avatar-{{ chat.mate.pk }}' style="display: flex; position: relative;">
                <div class='user-chats-list-avatar'>
                    {% if chat.type == 'chat' %}
                        <img class="user-chats-list-avatar-img" src="{{ chat.mate.profile.avatar.url }}">
                    {% else %}
                        <img class="user-chats-list-avatar-img" src="{{ chat.chat.avatar.url }}">
                    {% endif %}
                </div>
                {% if chat.mate.profile.status_online %}
                    <div class="user-chats-list-avatar-status-online" title="online"></div>
                {% else %}
                    <div class="user-chats-list-avatar-status-offline"></div>
                {% endif %}


                <div style="display: grid;">
                    {% if chat.type == 'chat' %}
                        <h1 class="users-name-style">{{chat.mate}}</h1>
                    {% else %}
                        <h1 class="users-name-style">{{chat.chat.name}}</h1>
                    {% endif %}
                    
                    {% if chat.message.message_type == 'text' %}
                        {% if chat.message.content|length > 20%}
                            <h3 id="message-{{chat.chat.pk}}" class="users-chats-list-last-message">{{chat.message.content|slice:":17" }}...</h3>
                        {% else %}
                            <h3 id="message-{{chat.chat.pk}}" class="users-chats-list-last-message">{{chat.message.content|slice:":20" }}</h3>
                        {% endif %}
                    {% elif chat.message.message_type == 'audio' %}
                        <h3 id="message-{{chat.chat.pk}}" class="users-chats-list-last-message">Voice message</h3>    
                    {% endif %}

                </div>
                <div style="display: flex; margin-inline-start: auto;">
                    <h3 id="time-{{chat.chat.pk}}" title="{{chat.message.time_create}}" class="users-chats-list-last-message">{{chat.message.time_create|date:"G:i"}}</h3>
                </div>
            </div>
            </div></a>
            {% endfor %}
        </div>
        <div class="users-chats-profile">
            <div class='users-chats-profile-avatar'>
                <img class="users-chats-profile-avatar-img" src="{{ request.user.profile.avatar.url }}">
            </div>
            <div style="margin-left: 5px;">
                <h4 style="color: #ceced8;">Your profile</h4>
                {% if request.user.username|length > 9 %}
                    <div class="size-myname-long">{{request.user.username}}</div>
                {% else %}
                    <div class="size-myname">{{request.user.username}}</div>
                {% endif %}
            </div>
            <a href='{% url "settings" %}' class="settings-button">Settings</a>
        </div>
    </div>

{% block content %}
{% endblock %}

</body>
</html>
