{% extends 'chat/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/css/audio.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="chat">
        <div class="chat-user-info">
            <div style="display: flex">
            <button class="chat-mobile-menu-button">
                <img class='back-img' src="{% static 'chat/svg/back.svg' %}">
            </button>
            <a style="width: 100%;" href="{% url 'user_profile' username=mate_user.username%}">
            <h2>{{mate_user}}</h2>
            {% if mate_user.profile.status_online == True %}
            <div class="chat-user-info-status-online">online</div>
            {% else%}
            <div class="chat-user-info-status-offline" title="{{mate_user.profile.last_online|date:'d F, Y, H:i'}}">
                Last seen: {{mate_user.profile.last_online|date:'d F, H:i'}}
            </div>
            {% endif %}
        </div>
        </div>
        </a>
        <div id="chat">
            {% for message in messages %}


            {% if message.message_type == 'text' %}
                {% if message.user.id == request.user.id %}
                <div id='message-{{message.id}}' class="my-message"
                onmouseover="showDots('{{message.id}}')" onmouseout="hideDots('{{message.id}}')">
                    <div style="display:flex">
                        <!-- <div class="message-name">{{message.user}}</div> -->
                        <div class="message-content">{{message.content}}</div>
                        <div class='message-info'>
                        <a href="{% url 'delete-message' message_id=message.id from_chat=room_name %}">
                            <div class="message-dots">
                                    <img id='dots-{{message.id}}' class="message-dots-img" src="{% static 'chat/svg/trash.svg' %}">
                            </div>
                        </a>
                        <div class="message-time" title="{{message.time_create}}">{{message.time_create|date:"G:i"}}
                            <div class="message-status">
                                {% if message.read == 1 %}
                                    <img class="message-status-img" src="{% static 'chat/svg/check_mark_true.svg' %}">
                                {% else %}
                                    <img class="message-status-img" src="{% static 'chat/svg/check_mark_false.svg' %}">
                                {% endif %}    
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% else %}
                    <div id='message-{{message.id}}' class="mate-message" 
                    onmouseover="showDots('{{message.id}}')" onmouseout="hideDots('{{message.id}}')">
                        <div style="display:flex">
                        <!-- <div class="message-name">{{message.user}}</div> -->
                            <div class="message-content">{{message.content}}</div>
                            <div class="message-time" title="{{message.time_create}}">{{message.time_create|date:"G:i"}}</div>
                        </div>
                    </div>
                {% endif %}    
                {% endif %}


            {% if message.message_type == 'audio' %}
            {% if message.user.id == request.user.id %}
            <div id='message-{{message.id}}' class="my-message"
            onmouseover="showDots('{{message.id}}')" onmouseout="hideDots('{{message.id}}')">
                <div style="display:flex">
                    <!-- <div class="message-name">{{message.user}}</div> -->
                    <div class="message-content">
                        <audio class="my-audio" controls controlsList="nodownload">
                            <source src="/{{message.content}}">
                        </audio>
                    </div>

                    <div class='message-info'>
                    <a href="{% url 'delete-message' message_id=message.id from_chat=room_name %}">
                    <div class="message-dots"><img id='dots-{{message.id}}' class="message-dots-img" src="{% static 'chat/svg/trash.svg' %}"></div>
                    </a>
                    <div class="message-time" title="{{message.time_create}}">{{message.time_create|date:"G:i"}}
                        <div class="message-status">
                            {% if message.read == 1 %}
                                <img class="message-status-img" src="{% static 'chat/svg/check_mark_true.svg' %}">
                            {% else %}
                                <img class="message-status-img" src="{% static 'chat/svg/check_mark_false.svg' %}">
                            {% endif %}    
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {% else %}
                <div id='message-{{message.id}}' class="mate-message"
                onmouseover="showDots('{{message.id}}')" onmouseout="hideDots('{{message.id}}')">
                    <div style="display:flex">
                    <!-- <div class="message-name">{{message.user}}</div> -->
                        <div class="message-content">
                            <audio class="mate-audio" controls controlsList="nodownload">
                                <source src="/{{message.content}}">
                            </audio>
                        </div>
                        <div class="message-time" title="{{message.time_create}}">{{message.time_create|date:"G:i"}}</div>
                    </div>
                </div>
            {% endif %}  

            {% endif %}
        {% endfor %}
        </div>
        <div id='message-input-text' class="message-input">
            <div style="padding: 0 5px 0 5px; width: 90%;">
                <input id="chat-message-input" placeholder="Type a message..." type="text" size="100">
            <br></div>
            <div style="margin-left: auto;">
                <button class='display-none' id="chat-message-submit"><img class="users-chats-send-button" src="{% static 'chat/svg/send.svg' %}"></button>
                <button id="chat-message-mic"><img class="users-chats-send-button" src="{% static 'chat/svg/mic.svg' %}"></button>
            </div>
        </div>

        <div id='message-input-audio' class="message-input-audio">
            <div class="message-input-audio-rec-circle"></div>
            <div class="message-input-audio-text">Recording...</div>
            <div class="message-input-audio-buttons">
                <button id="message-input-audio-trash"><img class="users-chats-send-button" src="{% static 'chat/svg/trash.svg' %}"></button>
                <button id="message-input-audio-submit"><img class="users-chats-send-button" src="{% static 'chat/svg/send_white.svg' %}"></button>
            </div>
        </div>

    </div>
</div>
    {{ room_name|json_script:"room-name" }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const scrollContainer = document.getElementById("chat");
        scrollContainer.scrollTop = scrollContainer.scrollHeight;
        });

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);
        const generalSocket = new WebSocket(`ws://${window.location.host}/ws/general/`);


        function showDots(id) {
            ditsDiv = document.getElementById(`dots-${id}`);
            if (ditsDiv) {
                ditsDiv.style.display = "block";
            }
        }

        function hideDots(id) {
            ditsDiv = document.getElementById(`dots-${id}`);
            if (ditsDiv) {
                ditsDiv.style.display = "none";
            }
        }


        document.addEventListener("DOMContentLoaded", function() {
            var inputElement = document.getElementById("chat-message-input");
            var buttonMicElement = document.getElementById("chat-message-mic");
            var buttonSendElement = document.getElementById("chat-message-submit");
            buttonMicElement.style.display = "flex";

            inputElement.addEventListener("input", function() {
                if (inputElement.value === "") {
                    buttonMicElement.style.display = "flex";
                    buttonSendElement.style.display = "none";
                } else {
                    buttonMicElement.style.display = "none";
                    buttonSendElement.style.display = "flex";
                }
            });
        });








        let mediaStream = null; // Добавьте переменную для хранения медиапотока

        document.querySelector('#chat-message-mic').addEventListener('click', async function(){
    try {
        var divText = document.querySelector(".message-input");
        var divAudio = document.querySelector(".message-input-audio");
        divAudio.style.display = "flex";
        divText.style.display = "none";
        mediaStream = await navigator.mediaDevices.getUserMedia({ audio: true });
        const mediaRecorder = new MediaRecorder(mediaStream);
        let voice = [];
        let shouldSend = false;

        mediaRecorder.addEventListener("dataavailable", function(event) {
            if (event.data.size > 0) {
                voice.push(event.data);
            }
        });

        mediaRecorder.addEventListener("stop", function() {
            if (shouldSend) {
                const blob = new Blob(voice, { type: 'audio/wav' });
                chatSocket.send(blob);
            }
            mediaStream.getTracks().forEach(track => track.stop());
            mediaStream = null;
        });

        document.querySelector('#message-input-audio-submit').addEventListener('click', function(){
            if (!shouldSend) {
                shouldSend = true;
                mediaRecorder.stop();
                divAudio.style.display = "none";
                divText.style.display = "flex";
            }
        });

        document.querySelector('#message-input-audio-trash').addEventListener('click', function(){
            mediaRecorder.stop();
            divAudio.style.display = "none";
            divText.style.display = "flex";
            shouldSend = false;
        });

        mediaRecorder.start();

    } catch (error) {
        console.error("Failed to access the microphone:", error);
    }
});




        document.querySelector('.chat-mobile-menu-button').addEventListener('click', function(){
            var divUsersChats = document.querySelector(".users-chats");
            var divChat = document.querySelector(".chat");
            divUsersChats.style.display = "grid";
            divUsersChats.style.width = '100%';
            divChat.style.display = "none";

        });


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.hasOwnProperty('status_read')) {
                if (data.is_connect === true && data.from_user === "{{ request.user.username }}") {return}
                var messageStatusImgs = document.querySelectorAll(".message-status-img");
                messageStatusImgs.forEach(function(img) {
                    if (img.src !== "{% static 'chat/svg/check_mark_true.svg' %}") {
                        img.src = "{% static 'chat/svg/check_mark_true.svg' %}";
                    }
                });
                return
            }

            var mateMessageDiv = document.createElement("div");
            if ('{{request.user.username}}' == data.username) {
                var whoseMessage = "my-message";
                var whoseAudio = "my-audio";
            } else {
                var whoseMessage = "mate-message";
                var whoseAudio = "mate-audio";
            }

            mateMessageDiv.className = whoseMessage;

            const innerDiv = document.createElement("div");
            innerDiv.style.display = "flex";


            var messagetimeDiv = document.createElement("div");
            messagetimeDiv.className = "message-time";
            messagetimeDiv.textContent = data.time;
            
            if ('{{request.user.username}}' == data.username) {
                var messagestatusDiv = document.createElement("div");
                messagestatusDiv.className = "message-status";
                var checkMarkImg = document.createElement("img");
                checkMarkImg.className = "message-status-img";
                checkMarkImg.src = "{% static 'chat/svg/check_mark_false.svg' %}";
                messagestatusDiv.appendChild(checkMarkImg);
                messagetimeDiv.appendChild(messagestatusDiv);
            }
            
            if (data.message_type == 'text') {
                var contentDiv = document.createElement("div");
                contentDiv.className = "message-content";
                contentDiv.textContent = data.message;
            } else if (data.message_type == 'audio') {
                var contentDiv = document.createElement("div");
                contentDiv.className = "message-content";

                var audioElement = document.createElement("audio");
                audioElement.className = whoseAudio;
                audioElement.controls = true;
                audioElement.controlsList = "nodownload";

                var sourceElement = document.createElement("source");
                sourceElement.src = "/" + data.message;

                audioElement.appendChild(sourceElement);
                contentDiv.appendChild(audioElement);
            }

            innerDiv.appendChild(contentDiv);
            innerDiv.appendChild(messagetimeDiv);
            mateMessageDiv.appendChild(innerDiv);

            var chatDiv = document.getElementById("chat");

            chatDiv.appendChild(mateMessageDiv);



            if ('{{request.user.username}}' != data.username) {
                var myAudio = new Audio('{% static "chat\sounds\get_message.mp3" %}');
                myAudio.play();
            }

            const scrollContainer = document.getElementById("chat");
            scrollContainer.scrollTop = scrollContainer.scrollHeight;

            
            var change_message_in_sidebar = document.getElementById("message-{{room_name}}");
            if (change_message_in_sidebar) {
                change_message_in_sidebar.textContent = data.message.slice(0, 20);;
            }
            var change_time_in_sidebar = document.getElementById("time-{{room_name}}");
            if (change_time_in_sidebar) {
                change_time_in_sidebar.title = data.time
                change_time_in_sidebar.textContent = data.time;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message != "") {
                if (message.length > 256) {
                    alert('Too many characters!')
                    return
                }
                chatSocket.send(JSON.stringify({'message': message, 'username': "{{request.user.username}}"}));
                generalSocket.send(JSON.stringify({'from_chat': roomName, 'to_user': "{{mate_user.id}}"}));

                var buttonMicElement = document.getElementById("chat-message-mic");
                var buttonSendElement = document.getElementById("chat-message-submit");
                buttonMicElement.style.display = "flex";
                buttonSendElement.style.display = "none";

                messageInputDom.value = '';
                var myAudio = new Audio('{% static "chat\sounds\send_message.mp3" %}');
                myAudio.play();
            }
        };

        document.querySelector('#users-chats-search-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#users-chats-search-submit').click();
            }
        };

        document.querySelector('#users-chats-search-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#users-chats-search-input');
            const message = messageInputDom.value;
            if (message != "") {
            window.location.href = decodeURIComponent(`/search/${message}`);
            }
        };

        generalSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.hasOwnProperty('status_online')) {
                if (data.status_online == true) {
                    if (String(data.from_user) == "{{mate_user.id}}") {
                        var messageStatusOnline = document.querySelectorAll(".chat-user-info-status-offline");
                        messageStatusOnline.forEach(function(element) {
                            element.classList = "chat-user-info-status-online";
                            element.textContent = 'online'
                            element.title = 'online'
                        });
                    }
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    if (divavatar) {
                        var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-offline');
                        if (statusElement) {
                            statusElement.classList = ('user-chats-list-avatar-status-online');
                            statusElement.title = 'online'
                        }
                    }
                } else {
                    if (String(data.from_user) == "{{mate_user.id}}") {
                        var messageStatusOnline = document.querySelectorAll(".chat-user-info-status-online");
                        messageStatusOnline.forEach(function(element) {
                            element.classList = "chat-user-info-status-offline";
                            element.textContent = `Last seen: ${data.last_online}`
                            element.title = `Last seen: ${data.last_online}`
                        });
                    }
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    if (divavatar) {
                        var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-online');
                        if (statusElement) {
                            statusElement.classList = ('user-chats-list-avatar-status-offline');
                            statusElement.title = null
                        }
                    }
                } 
            }

            if ('{{request.user.id}}' == data.to_user) {
                var myAudio = new Audio('{% static "chat\sounds\get_message.mp3" %}');
                myAudio.play();
            }

            var change_message_in_sidebar = document.getElementById(`message-${data.from_chat}`);
            if (change_message_in_sidebar) {
                change_message_in_sidebar.textContent = 'New message!';
            }
            var change_time_in_sidebar = document.getElementById(`time-${data.from_chat}`);
            if (change_time_in_sidebar) {
                change_time_in_sidebar.title = data.time
                change_time_in_sidebar.textContent = data.time;
            }

            const targetDiv = document.getElementById(`chat-${data.from_chat}`);
            if (targetDiv) {
                // Проверяем наличие класса 'user-chats-list-notread'
                if (!targetDiv.querySelector('.user-chats-list-notread')) {
                    const newDiv = document.createElement('div');
                    newDiv.className = 'user-chats-list-notread';
                    newDiv.textContent = '1'
                    targetDiv.appendChild(newDiv);
                } else {
                    const existingDiv = targetDiv.querySelector('.user-chats-list-notread');
                    const content = existingDiv.textContent;
                    const currentValue = parseInt(content, 10);
                    if (!isNaN(currentValue)) {
                        const newValue = currentValue + 1;
                        if (newValue < 100) {
                            existingDiv.textContent = newValue.toString();
                        } else {
                            existingDiv.textContent = '99';
                        }
                    }
                }
            }
        }

        generalSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
{% endblock %}