
{% extends 'chat/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/css/group_create_style.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="chat">
    <div class="create-group">
        <form method = "post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            <div class="create-group-title-name">
            <a href="{% url 'home' %}" class="tag-a"><div class="group-mobile-menu-button">
                <img class='back-img' src="{% static 'chat/svg/back-gray.svg' %}">
            </div></a>
            New Group
        </div>
        <div class="create-group-name">
            <div class='group-avatar'><img class="group-avatar-img" src="{% static 'chat/image/default_group_avatar.jpg' %}"></div>
            {{form.name}}
            <div class="form-error">{{form.name.errors}}</div>
            {{form.bio}}
            <div class="form-error">{{form.bio.errors}}</div>
            Choose new avatar: {{form.avatar}}
            <div class="form-error">{{form.avatar.errors}}</div>
            <div class="create-group-members">
                Choose new members:
                {% for user in form.participants %}
                <div class="create-group-user">{{user}}</div>
                {% endfor %}
            </div>
            <div class="form-error">{{form.participants.errors}}</div>
            <button type="submit" class="create-group-btn">Create</button>
            <div class="form-error">{{ form.non_field_errors }}</div>
        </div>
    </form>
    </div>
</div>

<script>

    document.querySelector('#users-chats-search-input').focus();
    document.querySelector('#users-chats-search-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#users-chats-search-submit').click();
        }
    };

    document.querySelector('#users-chats-search-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#users-chats-search-input');
        const message = messageInputDom.value;
        if (message != "") {
        window.location.href = decodeURIComponent(`/search/${message}`);
        }
    };

    const generalSocket = new WebSocket(`ws://${window.location.host}/ws/general/`);

    generalSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            
            if (data.hasOwnProperty('status_online')) {

                if (data.status_online == true) {
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    if (divavatar) {
                        var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-offline');
                        statusElement.classList = ('user-chats-list-avatar-status-online');
                        statusElement.title = 'online'
                    }
                } else {
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    if (divavatar) {
                        var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-online');
                        statusElement.classList = ('user-chats-list-avatar-status-offline');
                        statusElement.title = null
                    }
                }
            }
            
            if ('{{request.user.id}}' == data.to_user) {
                var myAudio = new Audio('{% static "chat\sounds\get_message.mp3" %}');
                myAudio.play();
            }

            var change_message_in_sidebar = document.getElementById(`message-${data.from_chat}`);
            if (change_message_in_sidebar) {
                change_message_in_sidebar.textContent = 'New message!';
            }
            var change_time_in_sidebar = document.getElementById(`time-${data.from_chat}`);
            if (change_time_in_sidebar) {
                change_time_in_sidebar.title = data.time
                change_time_in_sidebar.textContent = data.time;
            }

            const targetDiv = document.getElementById(`chat-${data.from_chat}`);
            if (targetDiv) {
                // Проверяем наличие класса 'user-chats-list-notread'
                if (!targetDiv.querySelector('.user-chats-list-notread')) {
                    const newDiv = document.createElement('div');
                    newDiv.className = 'user-chats-list-notread';
                    newDiv.textContent = '1'
                    targetDiv.appendChild(newDiv);
                } else {
                    const existingDiv = targetDiv.querySelector('.user-chats-list-notread');
                    const content = existingDiv.textContent;
                    const currentValue = parseInt(content, 10);
                    if (!isNaN(currentValue)) {
                        const newValue = currentValue + 1;
                        if (newValue < 100) {
                            existingDiv.textContent = newValue.toString();
                        } else {
                            existingDiv.textContent = '99';
                        }
                    }
                }
            }
        }
        generalSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

</script>

{% endblock %}