{% extends 'chat/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat/css/search_user_style.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="chat">
        <div class="search-results-container">
            {% if search_result|length > 0 %}
                <div class="search-results-info">Number of results: {{search_result|length}}</div>
            {% else %}
                <div class="search-results-info">No results found.</div>
            {% endif %}
            {% for profile in search_result %}
            <a href="{% url 'user_profile' username=profile.username%}">
            <div class="search-result-profile">
                <div class='profile-avatar'>
                    <img class="profile-avatar-img" src="{{ profile.profile.avatar.url }}">
                </div>
                <div style='display: grid;'>
                    <div class='search-result-profile-name'>{{profile}}</div>
                    {% if profile.profile.status_online %}
                        <div class='search-result-profile-status-online'>online</div>
                    {% else %}
                        <div class='search-result-profile-status-offline' title="{{profile.profile.last_online}}">
                            Last seen: {{profile.profile.last_online|date:'d F, H:i'}}
                        </div>
                    {% endif %}
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
</div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const generalSocket = new WebSocket(`ws://${window.location.host}/ws/general/`);

        document.querySelector('#users-chats-search-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#users-chats-search-submit').click();
            }
        };

        document.querySelector('#users-chats-search-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#users-chats-search-input');
            const message = messageInputDom.value;
            if (message != "") {
            window.location.href = decodeURIComponent(`/search/${message}`);
            }
        };

        generalSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.hasOwnProperty('status_online')) {
                if (data.status_online == true) {
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    if (divavatar) {
                        var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-offline');
                        if (statusElement) {
                            statusElement.classList = ('user-chats-list-avatar-status-online');
                            statusElement.title = 'online'
                        }
                    }
                } else {
                    var divavatar = document.querySelector(`#avatar-${data.from_user}`);
                    var statusElement = divavatar.querySelector('.user-chats-list-avatar-status-online');
                    statusElement.classList = ('user-chats-list-avatar-status-offline');
                    statusElement.title = null} 
            }

            if ('{{request.user.id}}' == data.to_user) {
                var myAudio = new Audio('{% static "chat\sounds\get_message.mp3" %}');
                myAudio.play();
            }

            var change_message_in_sidebar = document.getElementById(`message-${data.from_chat}`);
            if (change_message_in_sidebar) {
                change_message_in_sidebar.textContent = 'New message!';
            }
            var change_time_in_sidebar = document.getElementById(`time-${data.from_chat}`);
            if (change_time_in_sidebar) {
                change_time_in_sidebar.title = data.time
                change_time_in_sidebar.textContent = data.time;
            }

            const targetDiv = document.getElementById(`chat-${data.from_chat}`);
            if (targetDiv) {
                // Проверяем наличие класса 'user-chats-list-notread'
                if (!targetDiv.querySelector('.user-chats-list-notread')) {
                    const newDiv = document.createElement('div');
                    newDiv.className = 'user-chats-list-notread';
                    newDiv.textContent = '1'
                    targetDiv.appendChild(newDiv);
                } else {
                    const existingDiv = targetDiv.querySelector('.user-chats-list-notread');
                    const content = existingDiv.textContent;
                    const currentValue = parseInt(content, 10);
                    if (!isNaN(currentValue)) {
                        const newValue = currentValue + 1;
                        if (newValue < 100) {
                            existingDiv.textContent = newValue.toString();
                        } else {
                            existingDiv.textContent = '99';
                        }
                    }
                }
            }
        }

        generalSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
{% endblock %}