body {
    background-color: #292929;
    font-family: system-ui, sans-serif;
    height: 100%;
}

h1, h2, h3, h4{
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.chat {
    background-color: #2f2f35;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
}

#chat {
    background-color: #2f2f35;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 120px);
}

/* user-info */
.chat-user-info {
    background-color: #45454e;
    border-left: 1px solid #393941;
    color: #fff;
    padding-left: 10px;
    height: 55px;
}

.chat-user-info-status-online {
    font-size: 15px;
    color: #4174ff;
}

.chat-user-info-status-offline{
    font-size: 15px;
    color: #adadad;
}


.mate-message {
    min-width: 20%;
    max-width: 60%;
    display: table;
    color: #fff;
    background-color: #565b61;
    font-size: 20px;
    margin: 10px;
    padding: 5px 8px 5px 10px;
    border-radius: 20px 20px 20px 4px;
    word-wrap: break-word;
}

.my-message {
    min-width: 20%;
    max-width: 60%;
    display: table;
    color: #fff;
    background-color: #454647;
    font-size: 20px;
    margin: 10px;
    margin-left: auto;
    padding: 5px 5px 5px 10px;
    border-radius: 20px 20px 4px 20px;
    word-wrap: break-word;
}

.message-name {
    color: #314972;
    font-size: 15px;
}

/* chat-user */
.users-chats-list-user {
    position: relative;
    background-color: #45454e;
    color: #fff;
    padding: 10px 10px;
}
/* chat-user */
.users-chats-list-user:hover {
    background-color: #595964;
}

/* chat-user-selected */
.users-chats-list-user-selected {
    position: relative;
    background-color: #275bec;
    color: #fff;
    padding: 10px 10px;
}


.message-time {
    font-size: 12px;
    color: #c4c4c4;
    float: right;
    margin-left: auto;
    margin-top: auto;
    display: flex;
}

.message-content {
    margin-right: 5px;
}

.message-input {
    display: flex;
    margin: 10px;
    background-color: #474752;
    padding: 5px;
    border-radius: 10px;
    height: 35px;
}

#chat-message-input {
    background-color: #474752;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin: 5px 0 5px 0;
}

/* send-button */
.users-chats-search-button {
    height: 29px;
}

#chat-message-submit {
    background-color: #275bec;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: auto;
}

#chat-message-submit:hover {
    background-color: #2b61f7;
}

#chat-message-submit:active {
    background-color: #2454da;
}


/* width other-chat-chats */
#chat::-webkit-scrollbar, .users-chats-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track other-chat-chats*/
#chat::-webkit-scrollbar-track, .users-chats-list::-webkit-scrollbar-track {
  background-color: #454752;
  border-radius: 5px;
}

/* Handle other-chat-chats*/
#chat::-webkit-scrollbar-thumb, .users-chats-list::-webkit-scrollbar-thumb {
  background-color: #32343d;
  border-radius: 5px;
}

/* Handle on hover other-chat-chats*/
#chat::-webkit-scrollbar-thumb:hover, .users-chats-list::-webkit-scrollbar-thumb:hover {
  background-color: #393b46;
  border-radius: 5px;
}

/* chats-chat */
.full-page {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 100vh;
}

/* other-chats */
.users-chats {
    width: 30%;
    height: 100%;
    background-color: #45454e;
    position: relative;
    display: grid;
}

/* content-chats */
.users-chats-list-last-message {
    margin: 0;
    color: #b8b5b5;
    font-weight: 400;
}

/* other-chat-chats */
.users-chats-list {
    word-wrap: break-word;
    overflow: auto;
    height: calc(100vh - 160px);
}

/* other-chat-search */
.users-chats-search {
    margin-bottom: 10px;
    height: 65px
}

/* other-chat-profile */
.users-chats-profile {
    height: 50px;
    color: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    background-color: #51515c;
    border: 1px solid #2a2a30;
    display: flex;
    word-wrap: break-word;
}

/* message-input-search */
.users-chats-search-container-input {
    display: flex;
    margin: 10px;
    background-color: #3a3a41;
    padding: 5px;
    border-radius: 10px;
    height: 35px;
}

/* chat-search-input */
#users-chats-search-input{
    background-color: #3a3a41;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
    margin: 5px 0 5px 0;
}

/* chat-search-submit */
#users-chats-search-submit {
    background-color: #3a3a41;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: auto;
}

/* chat-search-submit */
#users-chats-search-submit:hover {
    background-color: #55555f;
}

/* chat-search-submit */
#users-chats-search-submit:active {
    background-color: #7a7a86;
}

.search-result-content {
    color: #fff;
    font-size: 40px;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}

.search-result-content:hover {
    background-color: #4f4f58;
}

.return-button {
    color: rgb(255, 255, 255);
    margin: 0 15px 0 15px;
    font-size: 25px;
    border-radius: 5px;
    background-color: #2e2e30;
    padding: 5px;
    text-align: center;
}

.return-button:hover {
    background-color: #3c3c3f;   
}

.settings-button {
    background-color: #275bec;
    font-size: 15px;
    font-weight: 500;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

.message-status{
    height: 13px;
    margin-top: auto;
}

.message-status-img {
    width: 12px;
    margin-left: 5px;
}

.user-chats-list-notread {
    background-color: #275bec;
    color: #fff;
    font-size: 18px;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    top: 60%;
    left: 92%;
    transform: translate(-50%, -50%);
}

.users-chats-profile-avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 1px solid #fff;
    background-color: #fff;
}

.users-chats-profile-avatar-img {
    position: absolute;
    width: auto;
    height: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.user-chats-list-avatar {
    width: 65px;
    height: 65px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 3px solid #fff;
    background-color: #fff;
}

.user-chats-list-avatar-img {
    position: absolute;
    width: auto;
    height: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-chats-list-avatar-status-online {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #275bec;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 70%;
    left: 45px;
}